* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(81, 128, 138);
    height: 100vh;
    font-family: "Ribeye Marrow", serif;
    font-weight: 400;
    font-style: normal;


}


header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 10px 15px -5px rgb(20, 20, 20);
    height: 300px;
    position: relative;
}

header canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

header>* {
    position: relative;
    z-index: 2;
}


header .img {
    width: 400px;
    height: 400px;
    background-image: url(../img/12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 5;
}


.gallery {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-gallery img {
    border-radius: 15px;
    object-fit: cover;
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    height: auto;
}


.photo-gallery p {
    padding: 10px 0;
    font-size: 22px;
    font-style: italic;
    word-wrap: break-word;
    cursor: pointer;
}

.hr {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 20px;
    width: 700px;
    height: 6px;
    background-color: rgb(215, 255, 155);
    border-radius: 15px;
}

.container-it {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.relax-paul {
    width: 400px;
    height: auto;
}

.container-it h2 {
    padding: 10px 0;
    font-size: 22px;
    font-style: italic;
    color: rgb(3, 8, 0);
    word-wrap: break-word;
    cursor: pointer;
}

.free-background {
    width: 600px;
    height: 600px;
}

.relax-paul {
    display: block;
    width: 400px;
    max-height: 600px;
    overflow: hidden;
    height: 100%;
}

.relax-paul img {
    object-fit: cover;
    max-width: 400px;
}

.photo-gallery:hover {
    box-shadow: 0 0 22px 12px rgba(172, 255, 47, 0.986);
    border-radius: 15px;
}

header:hover .img {
    background-image: url(../img/11.png);
    position: relative;
    z-index: 10;
}

h1:hover {
    color: rgb(230, 246, 255);
}

.container-it h2:hover {
    color: rgb(230, 255, 1);

}

.it {
    color: rgb(255, 217, 0)
}

p {
    color: rgb(0, 255, 42);
}