* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(81, 128, 138);
    height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../img/Matrix\ Background\ Free\ Vector.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 10px 15px -5px rgb(20, 20, 20);
    height: 300px;
}


.header .img {
    width: 500px;
    height: 500px;
    background-image: url(../img/Gemini_Generated_Image_nncg88nncg88nncg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.header:hover .img {
    background-image: url(../img/Gemini_Generated_Image_oflz63oflz63oflz-Photoroom.png);
    z-index: 10;
}

.img-xac {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;

}

.img-container {
    width: 400px;
    text-align: center;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 0 20px  rgb(153, 255, 0);
}

.img-container img {
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: aquamarine;
}

.img-container h1 {
    padding: 10px;
    font-size: 20px;
    font-style: italic;
    color: rgb(3, 8, 0);
}

.gallery {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.photo-gallery img {
    border-radius: 15px;
    box-shadow: 0 0 20px  rgb(153, 255, 0);
    width: 400px;
    height: auto;
    margin: 5px;
    object-fit: cover;
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photo-gallery p {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    color: aquamarine;
}

.container-hr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.hr {
    width: 700px;
    height: 4px;
    background-color: rgb(148, 235, 255);
    border-radius: 15px;

}

.photo-gallery img:hover {
    box-shadow: 0 0 20px rgb(217, 255, 160);

}

div .it-color {
    color: rgb(3, 8, 0);
}

.img-container:hover {
    box-shadow: 0 0 20px rgb(217, 255, 160);
}

.photo-gallery p:hover {
    color:rgb(230, 255, 1);
}

h1:hover {
    color:rgb(230, 246, 255);
}