@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

body {
    background-image: url('../img/39879210_8764039.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #001d00;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 10px 15px -5px rgb(20, 20, 20);
    z-index: 1000;
}

header canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

header .img {
    width: 300px;
    height: 300px;
    background-image: url(../img/12.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}

header:hover .img {
    background-image: url(../img/11.png);
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 220px;
    min-height: calc(100vh - 200px);
    flex: 1;
}



.gallery {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    justify-content: center;
    font-family: "Rampart One", sans-serif;
    flex-wrap: wrap;
}

.photo-gallery {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #0000005d;
    border-radius: 15px;
    margin: 10px;
}

.photo-gallery img {
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.photo-gallery p {
    margin: 7px;
    padding: 10px 0;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(90deg, #006400, #00FF00, #FFFF00, #00FF7F, #006400);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textflow 10s linear infinite;
}

.photo-gallery:hover {
    box-shadow: 0 0 22px 12px rgba(172, 255, 47, 0.986);
}



.hr {
    display: flex;
    justify-content: center;
    width: 100%;
}

hr {
    margin: 20px 0;
    width: 70%;
    height: 4px;
    border: none;
    background-color: rgb(215, 255, 155);
    border-radius: 15px;
}



.info-link-container {
    margin: 20px 0 20px 0;
    width: 90%;
    height: 600px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgba(172, 255, 47, 0.986);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
}


.info-link {
    width: 350px;
    height: 100%;
    text-align: center;
    border-right: 2px solid rgb(255, 255, 255);
}

.info-link img {
    width: 100%;
}

.info-link ul {
    list-style: none;
}

.info-link li {
    padding: 10px;
}

.info-link a {
    display: block;
    font-size: 20px;
    color: rgba(172, 255, 47, 0.986);
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.info-link a:hover {
    color: rgba(237, 255, 211, 0.986);
    transform: scale(1.1);
}

.main-info {
    width: 100%;
    height: 100%;
}


footer {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 60%;
}

.author-blok {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

footer p,
.author {
    font-size: 18px;
    color: #414141;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer p:hover,
.author:hover {
    cursor: default;
    color: #afadad;
}



.contact-ico1,
.contact-ico2,
.contact-ico3 {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-ico1 {
    background-image: url('../img/ico/telegram1.png');
}

.contact-ico2 {
    background-image: url('../img/ico/gmail1.png');
}

.contact-ico3 {
    background-image: url('../img/ico/instagram1.png');
}

.contact-ico1:hover {
    background-image: url('../img/ico/telegram2.png');
}

.contact-ico2:hover {
    background-image: url('../img/ico/gmail2.png');
}

.contact-ico3:hover {
    background-image: url('../img/ico/instagram2.png');
}



@keyframes textflow {
    from {
        background-position: 200% center;
    }

    to {
        background-position: 0% center;
    }
}

.modal {
    cursor: default;
    font-size: 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
    z-index: 9999;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    border-radius: 4px;
    position: relative;
    z-index: 10000;
    width: 100%;
    max-width: 90%;
    background-color: rgba(18, 88, 0, 0.7);
    backdrop-filter: blur(10px);
    padding: 1em 2em;
    box-shadow: 0 0 22px 12px rgba(172, 255, 47, 0.986);
}

.modal__content h1,
h2 {
    margin: 20px 0 20px 0;
    color: #00FF00;
    text-align: center;
}

.modal__content li:hover {
    color: aqua;
}

.modal__content p {
    text-align: center;
}

.italic {
    font-style: italic;
    color: aqua;
}

hr {
    width: 100%;

}

.modal__close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

