* {
    margin: 0;
    padding: 0;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

a {
    display: block;
    min-width: 220px;
    min-height: 220px;
    background-image: url('../img/photo_2026-01-08_01-17-59-Photoroom.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    font-size: 0;
}

a:hover {
    background-image: url('../img/photo_2026-01-08_01-17-53-Photoroom.png')
}