* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    background-color: rgb(81, 128, 138);
      display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.gradient {
    position: relative;
    border-radius: 50%;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 0px;
    background-image: url(../img/photo_2026-01-08_01-17-59-Photoroom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 440px;
    height: 440px;
}

.gradient:hover {
    background-image: url(../img/Gemini_Generated_Image_cls80ncls80ncls8-Photoroom.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
